In [77]:
#pandas

In [78]:
#indexes are visible
#2 types of data structure
#1. sereis - vector - 1d
#2.data framee - 2d
#3. index - index is visible

In [79]:
import numpy as np

import pandas as pd

In [80]:
#descriptive statistics

In [81]:
data = pd.Series([0.25,0.5,0.75,1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [82]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [83]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [84]:
data.shape

(4,)

In [85]:
data.describe

<bound method NDFrame.describe of 0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64>

In [86]:
data.describe()

count    4.000000
mean     0.625000
std      0.322749
min      0.250000
25%      0.437500
50%      0.625000
75%      0.812500
max      1.000000
dtype: float64

In [87]:
#explicit indexing - assigned manually, difficult for huge data
#if it is given as an intiger it will replace the default indexing

In [88]:
data = pd.Series([0.25,0.5,0.75,1],
                 index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [89]:
data['b']

0.5

In [90]:
data[1]

0.5

In [91]:
population_dict={'California':351264283,
                'Texas':54123648,
                'New York':5545865245,
                'Florida':745565323,
                'Illinois':1243579}
population = pd.Series(population_dict)
population

California     351264283
Texas           54123648
New York      5545865245
Florida        745565323
Illinois         1243579
dtype: int64

In [92]:
population.values

array([ 351264283,   54123648, 5545865245,  745565323,    1243579],
      dtype=int64)

In [93]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [94]:
population.describe

<bound method NDFrame.describe of California     351264283
Texas           54123648
New York      5545865245
Florida        745565323
Illinois         1243579
dtype: int64>

In [95]:
population.describe()

count    5.000000e+00
mean     1.339612e+09
std      2.369916e+09
min      1.243579e+06
25%      5.412365e+07
50%      3.512643e+08
75%      7.455653e+08
max      5.545865e+09
dtype: float64

In [96]:
population[1]

54123648

In [97]:
population['Texas']

54123648

In [98]:
pd.Series([2,5,7,8])

0    2
1    5
2    7
3    8
dtype: int64

In [99]:
pd.Series(5,index=[100,200,300,400,500])

100    5
200    5
300    5
400    5
500    5
dtype: int64

In [100]:
pd.Series({2:'a',3:'b',8:'c'}, index=[2,8])

2    a
8    c
dtype: object

In [101]:
##dataframe objects

In [102]:
area_dict={'California':1264283,'Texas':5413648,'New York':565245,'Florida':745523,'Illinois':3454569}
area = pd.Series(area_dict)
area

California    1264283
Texas         5413648
New York       565245
Florida        745523
Illinois      3454569
dtype: int64

In [103]:
states = pd.DataFrame({'population': population,
                     'area':area})
states

            population     area
California   351264283  1264283
Texas         54123648  5413648
New York    5545865245   565245
Florida      745565323   745523
Illinois       1243579  3454569

In [104]:
states.keys()

Index(['population', 'area'], dtype='object')

In [105]:
states.ndim

2

In [106]:
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, California to Illinois
Data columns (total 2 columns):
population    5 non-null int64
area          5 non-null int64
dtypes: int64(2)
memory usage: 280.0+ bytes

In [107]:
data = np.arange(12,24).reshape(4,3)
df = pd.DataFrame(data)
df

    0   1   2
0  12  13  14
1  15  16  17
2  18  19  20
3  21  22  23

In [108]:
data = np.arange(12,24).reshape(4,3)
df = pd.DataFrame(data,columns=['a','b','c'],index=[5,8,9,4])
df

    a   b   c
5  12  13  14
8  15  16  17
9  18  19  20
4  21  22  23

In [109]:
x= np.random.random(20).reshape(4,5)
df= pd.DataFrame(x, columns=[1,2,3,4,5],index=['a','b','c','d'])
df

          1         2         3         4         5
a  0.400225  0.933235  0.987209  0.622376  0.944177
b  0.672653  0.559080  0.649177  0.934397  0.492084
c  0.573752  0.430937  0.254309  0.196809  0.217305
d  0.081544  0.017467  0.655885  0.982722  0.337071

In [110]:
y = [{'a':i,'b':2*i,'c':2**i+2}
    for i in range(1,4)]
pd.DataFrame(y)

   a  b   c
0  1  2   4
1  2  4   6
2  3  6  10

In [111]:
a= np.zeros(3, dtype=[('A','i8'),('B','f8')])
a

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [112]:
pd.DataFrame(a)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [113]:
#indexig are immutable arrays
#indexes are orderd sets

In [114]:
indA = pd.Index([1,2,3,4,])
indB = pd.Index([2,4,6,8,10])

In [115]:
indA&indB

Int64Index([2, 4], dtype='int64')

In [116]:
indA | indB

Int64Index([1, 2, 3, 4, 6, 8, 10], dtype='int64')

In [117]:
indA ^ indB

Int64Index([1, 3, 6, 8, 10], dtype='int64')

In [118]:
data = pd.read_csv("births.csv")
data

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [119]:
data.head() #top5 raws

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [120]:
data.tail() #last 5 raws

       year  month  day gender  births
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

In [121]:
data.describe

<bound method NDFrame.describe of        year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]>

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
year      15547 non-null int64
month     15547 non-null int64
day       15067 non-null float64
gender    15547 non-null object
births    15547 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

In [123]:
data.columns

Index(['year', 'month', 'day', 'gender', 'births'], dtype='object')

In [124]:
data.index

RangeIndex(start=0, stop=15547, step=1)

In [125]:
data.shape

(15547, 5)

In [126]:
data.ndim

2

In [127]:
data.values

array([[1969, 1, 1.0, 'F', 4046],
       [1969, 1, 1.0, 'M', 4440],
       [1969, 1, 2.0, 'F', 4454],
       ...,
       [2008, 11, nan, 'M', 165468],
       [2008, 12, nan, 'F', 173215],
       [2008, 12, nan, 'M', 181235]], dtype=object)

In [128]:
data['year']

0        1969
1        1969
2        1969
3        1969
4        1969
         ...
15542    2008
15543    2008
15544    2008
15545    2008
15546    2008
Name: year, Length: 15547, dtype: int64

In [129]:
import seaborn as sns 
sns.pairplot(data)

c:\users\student\appdata\local\programs\python\python36\lib\site-packages\numpy\lib\histograms.py:829: RuntimeWarning: invalid value encountered in greater_equal
  keep = (tmp_a >= first_edge)
c:\users\student\appdata\local\programs\python\python36\lib\site-packages\numpy\lib\histograms.py:830: RuntimeWarning: invalid value encountered in less_equal
  keep &= (tmp_a <= last_edge)

In [130]:
datas = pd.read_csv("../Desktop/data/file.csv")
datas

FileNotFoundError: [Errno 2] File b'../Desktop/data/file.csv' does not exist: b'../Desktop/data/file.csv'

In [ ]:
sns.pairplot(datas)

In [ ]:
Data = pd.read_excel('sales.xlsx')
Data

In [ ]:
sns.pairplot(Data)

In [ ]:
path = "../Desktop/1.txt"
with open(path,'r') as file: #"r" indicates read 
    print (file.read())
    Data = pd.DataFrame(file)
Data

In [ ]:
Data = pd.read_csv('iris.data')
Data.head()

In [ ]:
##opertations in Pandas

In [ ]:
rng = np.random.RandomState()
ser = pd.Series(rng.random(10))
ser

In [ ]:
id(rng)

In [ ]:
type(ser)

In [ ]:
df = pd.DataFrame(rng.randint(0,10,(4,4)),
                 columns=['A','B','C','D'])
df

In [ ]:
df.mean()

In [ ]:
df.mean(1)

In [ ]:
df.median()

In [ ]:
np.exp(df)

In [ ]:
np.sin(df*np.pi/4)

In [ ]:
area = pd.Series({'Alaska':465356,'Texas':89535,'California':89553},
                 name='Area')
population = pd.Series({'Newyork':8658656,'Texas':583569535,'California':87856553},
                 name='Population')
population

In [ ]:
area

In [ ]:
population/area

In [ ]:
area.index|population.index

In [ ]:
A = pd.Series([2,6,3],index =[3,2,1])
B = pd.Series([1,5,3],index =[0,3,2])
A+B

In [ ]:
A.add(B,fill_value=(0))

In [ ]:
X= pd.DataFrame(rng.randint(0,20,(3,5)),
                columns=list('ABCDE'))
X

In [ ]:
Y = pd.DataFrame(rng.randint(0,20,(3,3)),
                columns=list('ABC'))
Y

In [ ]:
Z =X.stack().mean()
Z

In [ ]:
X.add(Y,fill_value =Z)

In [ ]:
p= rng.randint(10,size=(3,4))
p

In [ ]:
p[2]

In [ ]:
p-p[2]

In [ ]:
s = pd.DataFrame(p, columns = list('QRST'))
s

In [ ]:
s.iloc[0] #iloc is used to select a particular row

In [ ]:
s-s.iloc[0]

In [ ]:
s.subtract(s['R'],axis=0)

In [ ]:
halfrow = s.iloc[0,::2]
halfrow

In [ ]:
s-halfrow

In [ ]:
#Handliing the missing data

In [ ]:
#nan
#na
#none
#missing values has to be filled
#1. finding NA
#1Aa. identify NA
#1ai. is null
#1aii. not a null
#2. fill NA 
#2a. fill_value
#2b.fill_NA
#2bi.bfill
#2bii.ffill
#3. drop - entire row will be deleted

In [ ]:
a= np.array([1,None,2,3])
a

In [ ]:
a.dtype #object datatype is for None values

In [ ]:
b= np.array([1,4,2,3])
b

In [ ]:
b.dtype

In [ ]:
a[0]

In [ ]:
a[2]

In [ ]:
for dtype in['object','int','float']:
    print("dtype=", dtype)
    %timeit np.arange(1E6,dtype=dtype).sum()
    print()

In [ ]:
for dtype in['object','int','float']:
    print("dtype=", dtype)
    %timeit np.arange(1E6,dtype=dtype).mean()
    print()

In [ ]:
#NAN

In [ ]:
vals2= np.array([1,np.nan,3,4])
vals2.dtype #nan data type is float

In [ ]:
1+np.nan

In [ ]:
vals2.sum(),vals2.min(),vals2.max(),vals2.mean()

In [ ]:
np.nansum(vals2),np.nanmin(vals2),np.nanmax(vals2),np.nanmean(vals2) #can avoid nan values and perform operation

In [ ]:
#nan and None

In [ ]:
pd.Series([1,np.nan,2,None])

In [ ]:
x= pd.Series(range(4),dtype=int)
x

In [ ]:
x[3]=None
x

In [ ]:
x.add(2)

In [ ]:
#DATA TYPE CHANGES
#1. FLOAT -no change 
#2. object - No change
#3. intiger - cast to float - np.nan
#4.Boolean - cast to objetc - None or np.nan

In [ ]:
y = np.array([True,False,10,20,None,np.nan])
y.dtype

In [ ]:
y = pd.Series([True,False,10,20,None,np.nan])
y.dtype

In [ ]:
#null values

In [ ]:
#isnull - find the null values in the data set
#notnull - opposite of is null
#dropna - filter the data with or without null values
#fillna()-fill the values for NAN

In [ ]:
data = pd.Series([1,np.nan,3,None,'hello'])
data

In [ ]:
data.isnull()

In [ ]:
Df= pd.DataFrame(data)
Df

In [ ]:
Df.isnull()

In [ ]:
Df['age']=np.array([24,23,45,56,35])
Df

In [ ]:
Df.notnull()

In [ ]:
data[data.notnull()]

In [ ]:
Df[Df.notnull()]

In [ ]:
#dropna() delete the null values without affecting the original data
#fillna() will affect the original data

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
data.fillna(1)

In [ ]:
data.fillna(value  = 10)

In [ ]:
mean = np.nanmean(data)
print (mean)
data.fillna(value =mean) #data is manipulated

In [ ]:
df = pd.DataFrame([[1, np.nan,2],
                  [2,3,5],
                  [np.nan,4,None]],columns=['A','B','C'])
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis='columns')

In [ ]:
df.dropna(axis='rows')

In [ ]:
df['D']=np.nan
df

In [ ]:
df.dropna(axis = 'columns',how = 'all')

In [ ]:
df.dropna(axis = 'columns',how = 'any')

In [ ]:
df.dropna(axis = 'rows',how = 'all')

In [ ]:
df.dropna(axis = 'rows',how = 'any')

In [ ]:
df.dropna(axis = 'rows',thresh =2) #number of available non null values =2

In [ ]:
df.dropna(axis = 'columns', thresh =2)

In [ ]:
df2 = pd.DataFrame({'Data':[10,20,30,np.nan,50,60],
                   'float':[1.5,2.5,3.2,4.5,5.5,np.nan],
                   'complex':[np.nan,2j+3,np.nan,23j+2,5j+2,np.nan]})
df2

In [ ]:
df2.isnull()

In [ ]:
df2.notnull()

In [ ]:
df2.notna()

In [ ]:
df2.dropna()

In [ ]:
fill= np.nanmean(df2)
fill

In [ ]:
Fill_Missing_Value = df2.fillna(fill)
Fill_Missing_Value

In [ ]:
Fill_Missing_Value = df2.fillna(fill,axis=1)
Fill_Missing_Value

In [ ]:
data = pd.Series([1,np.nan,2,None,3],index=list('abcde'))
data

In [ ]:
x=data.fillna(0)
x

#forwardfill - ffill - none value will be filled with the previous data

#backwardfill= null value will be filled with the next value

In [ ]:
data.fillna(method='ffill')

In [ ]:
df3 = pd.DataFrame({'Data':[10,20,30,np.nan,50,60],
                   'float':[1.5,2.5,3.2,4.5,5.5,np.nan],
                   })
df3

In [ ]:
data.fillna(method='bfill')

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
Data = pd.read_csv('california_cities.csv')
Data

In [ ]:
Data.head()

In [ ]:
Data.tail()

In [ ]:
Data.describe()

In [ ]:
Data.info()

In [ ]:
Data.columns

In [ ]:
Data.index

In [ ]:
Data.isnull().info()

In [ ]:
Data1 = Data.drop(['Unnamed: 0'],axis =1)       
Data1

In [ ]:
Data1.isnull()

In [ ]:
Data1.info()

In [ ]:
#Data1['elevation_m']=np.nanmean(Data1['elevation_m'])
#Data1 #original data will be affetced so not a recomanded method

In [ ]:
Fill = np.nanmean(Data1['elevation_m'])
Data1['elevation_m']= Data1['elevation_m'].fillna(Fill)
Data1

In [ ]:
Data1.info()

In [ ]:
#hierarchical indexing

In [ ]:
pd.__version__

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
index = [('California', 2000), ('California', 2010),
        ('New York', 2000), ('New York', 2010),
        ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
              18976457, 19378102,
              20851820, 25145561]

In [ ]:
populations

In [ ]:
pop = pd.Series(populations, index=index)
pop

In [ ]:
#pop [1:4]
pop['California',2000]

In [ ]:
pop[[i for i in pop.index if i[1]==2010]]

In [ ]:
for i in pop.index:
    if i[1]==2010:
        print(i,pop[i])

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

In [ ]:
pop =pop.reindex(index)
pop

In [ ]:
pop['California']

In [ ]:
pop[:,2010]

In [ ]:
pop_df = pop.unstack()
pop_df

In [ ]:
pop_df.stack()

In [ ]:
pop

In [ ]:
pop_df = pd.DataFrame ({'Total': pop,
                       'under18': [8865325656,35689545,
                                   656898,458545545,
                                  4455687,965856]})
pop_df

In [ ]:
df = pd.DataFrame(np.random.rand(4,2),
                 index =[['a','a','b','b'],[1,2,1,2]],
                 columns=['data1','data2'])
df

In [ ]:
data ={('california',2000):5589865365,
      ('california',2010):89888556,
      ('Texas',2000):78454533,
      ('Texas',2010):58963568,
      ('Newyork',2000):57989656,
      ('Newyork',2010):555655878}
pd.Series(data)

In [ ]:
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]])

In [ ]:
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2)])

In [ ]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

In [ ]:
pd.MultiIndex(levels = [['a','b'],[1,2]],
            codes = [[0,0,1,1],[0,1,0,1]])

In [ ]:
pop.index.names=['state','year']
pop

In [ ]:
index = pd.MultiIndex.from_product([[2013,2014],[1,2,3]],
                                  names=['year','visit'])
columns =pd.MultiIndex.from_product([['Rani','Raju','Sam'],['BMI','TEMP','WGHT']],
                                   names =['subject','type'])

In [ ]:
data=np.round(np.random.rand(6,9),2)
data+=37

In [ ]:
health_data = pd.DataFrame(data,index=index,columns=columns)
health_data

In [ ]:
health_data['Rani']

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
health_data.iloc[:3,:-3] # starts with oth row and ends with 2nd row, from right side till -3

In [ ]:
health_data.iloc[:3]

In [ ]:
idx = pd.IndexSlice
health_data.loc[idx[:,1],idx[:,'TEMP']] #performing integer and string together

In [ ]:
#sorted and unsorted indices
index = pd.MultiIndex.from_product([['a','c','b','d'],[1,2]])
data = pd.Series(np.random.rand(8),index=index)
data.index.names = ['char','int']
data

In [ ]:
try:
    data[ 'a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [ ]:
data = data.sort_index()
data

In [ ]:
pop.unstack(level =0)

In [ ]:
pop.unstack().stack()

In [ ]:
pop_flat = pop.reset_index(name='population')
pop_flat

In [ ]:
health_data

In [ ]:
data_mean1 = health_data.mean(level='year')
data_mean1

In [ ]:
data_mean2 = health_data.mean(level='visit')
data_mean2

In [ ]:
data_mean1.mean(axis =1 ,level='type')